<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyFramework">
<test name="Demo website Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testClass.HomePageTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
